/** ARQUIVO GERADO AUTOMATICAMENTE */

plugins {
    {% if project.language.type == "java" %}
        alias(libs.plugins.java)
    {% endif %}
    {% for plugin in project.plugins or [] %}
        {{ plugin }}
    {% endfor %}
}

group = '{{ project.group }}'
version = '{{ project.version }}'

{% if project.language.type == "java" %}
    java {
        toolchain {
            languageVersion = JavaLanguageVersion.of({{ project.language.version | default('21') }})
        }
    }
{% endif %}

{# Configuracoes para todos sub projetos #}
allprojects {
    repositories {
        {% for repository in project.repositories or [] %}
            {{ repository }}
        {% endfor %}
        mavenCentral()
    }

    {% if project.allprojects is defined %}
        {% for plugin in project.allprojects.plugins or [] %}
            apply plugin: {{ plugin }}
        {% endfor %}

        dependencies {
            {% for dependency in project.allprojects.dependencies or [] %}
                {{ dependency }}
            {% endfor %}
        }
    {% endif %}
}

{# Configuracoes para todos sub projetos #}
subprojects {
    {% if project.language.type == "java" %}
        apply plugin: libs.plugins.java.get().pluginId
    {% endif %}
    {% if project.subprojects is defined %}
        {% for plugin in project.subprojects.plugins or [] %}
            apply plugin: {{ plugin }}
        {% endfor %}

        dependencies {
            {% for dependency in project.subprojects.dependencies or [] %}
                {{ dependency }}
            {% endfor %}
        }
    {% endif %}
}


{# Configuracoes os modulos #}
{% for module in project.modules or [] %}
    project(':{{ module.name }}') {
        {% for plugin in module.plugins or [] %}
            apply plugin: {{ plugin }}
        {% endfor %}

        dependencies {
            {% for dependency in module.dependencies or [] %}
                {{ dependency }}
            {% endfor %}
        }
    }
{% endfor %}

tasks.named('test') {
	useJUnitPlatform()
}