{% if configVersion is not defined or configVersion != 'v1' %}
    {{- raise("Erro: 'configVersion' deve ser 'v1'.") -}}
{% endif %}

/** ARQUIVO GERADO AUTOMATICAMENTE, NAO MODIFIQUE ({{ configVersion }} )*/

{% if project.plugins is defined %}
plugins {
    {% for plugin in project.plugins %}
        {{ plugin }}
    {% endfor %}
}
{% endif %}

group = '{{ project.group }}'
version = '{{ project.version }}'

java {
	toolchain {
		languageVersion = JavaLanguageVersion.of({{ project.language.version | default('21') }})
	}
}

{# Configuracoes para todos sub projetos #}
allprojects {
    repositories {
        {% for repository in project.repositories %}
            {{ repository }}
        {% endfor %}
        mavenCentral()
    }
    {% if project.allprojects is defined %}
        {% if project.allprojects.plugins is defined %}
            {% for plugin in project.allprojects.plugins %}
                apply plugin: '{{ plugin }}'
            {% endfor %}
        {% endif %}

        {% if project.allprojects.dependencies is defined %}
        dependencies {
            {% for dependency in project.allprojects.dependencies %}
                {{ dependency }}
            {% endfor %}
        }
        {% endif %}
    {% endif %}
}

{# Configuracoes para todos sub projetos #}
subprojects {
    {% if project.subprojects is defined %}
        {% if project.subprojects.plugins is defined %}
            {% for plugin in project.subprojects.plugins %}
                apply plugin: '{{ plugin }}'
            {% endfor %}
        {% endif %}

        {% if project.subprojects.dependencies is defined %}
        dependencies {
            {% for dependency in project.subprojects.dependencies %}
                {{ dependency }}
            {% endfor %}
        }
        {% endif %}
    {% endif %}
}


{# Configuracoes os modulos #}
{% for module in project.modules %}
    project(':{{ module.name }}') {
        {% if module.plugins is defined %}
            {% for plugin in module.plugins %}
                apply plugin: '{{ plugin }}'
            {% endfor %}
        {% endif %}

        {% if module.dependencies is defined %}
        dependencies {
            {% for dependency in module.dependencies %}
                {{ dependency }}
            {% endfor %}
        }
        {% endif %}
    }
{% endfor %}


tasks.named('test') {
	useJUnitPlatform()
}