package {{ packageName }}.resources.user;

/** Entity de exemplo apenas, para simular algo do modelo, em um projeto real, esse tipo de objeto vem de outra camada */
public class UserEntity {

    private long id;

    private String name;

    private String email;

    public long getId() {
        return id;
    }

    public void setId(long id) {
        this.id = id;
    }

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }

    public String getEmail() {
        return email;
    }

    public void setEmail(String email) {
        this.email = email;
    }
}
